
.ul__nav{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}
.ul__nav-li{
    position: relative;
    left: 250%;
    padding: 10px;
    display: inline;
    text-decoration: none;
}




