
.ul__nav{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}
.ul__nav li{
    position: relative;
    padding: 50px;
    left: 35rem;
    display: inline;
    text-decoration: none; 
}
.ul__nav a{
    text-decoration: none;
    color: white;
}
.ul__nav a:hover{
    color: gray;
}




