*{
    margin: 0;
    padding: 0;
}
.home{
    position: absolute;
    margin-top: 20PX;
    width: 100%;
    height: 145%;
    background-size: 100%;
    background-image: url('https://www.topgear.com/sites/default/files/news-listicle/image/2015/09/p13_0019_a4_rgb.jpg?w=1290&h=726');
}
.h1__title{
    font-family: 'Comforter Brush';
}
.h1__title-work{
    position: absolute;
    margin-top: 10%;
    font-size: 100px;
    line-height: 20px;
    left: 30%;
}

.container__redes-icons{
    position: absolute;
    margin-top: 53%;
    left: 42.5%;
}
.container__icons-services{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
    left: 20%;
}
.container_text-flex{
    display: flex;
    flex-direction: column;
    
}