*{
    margin: 0;
    padding: 0;
}
.h1__title{
    font-family: 'Comforter Brush';
}
.h1__title-work{
    position: relative;
    margin-top: 8%;
    font-size: 80px;
    text-align: center;
}

.container__redes-icons{
    position: absolute;
    margin-top: 20%;
    left: 80px;
}
.container__icons-services{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
    left: 20%;
}
.container_text-flex{
    display: flex;
    flex-direction: column;
    
}