.container-services{
    display: flex;
    flex-grow: 1;
}
.lijas{
    position: absolute;
    margin-top: 57%;
    width: 100%;
    height: 60%;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}
.icons-services{
    position: absolute;
    margin-top: 62%;
}
.text-services{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 70%;
    left: 13%;
}
.text-services p{
    padding: 20px 90px;
    color: white;
    font-size: 22px;
}
.text-services h3{
    position: relative;
    padding-bottom: 20px;
}
.services__p-2{
    position: absolute;
    left: 30px;

}
.services__p-3{
    position: absolute;
    left: 60px;
}