.icons-services{
    position: absolute;
    margin-top: 38%;
    left: 25%;
}
.container__text-services{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 20%;
    margin-top: 48%;
}
.container__text-services p{
    padding: 40px;
    font-size: 25px;

}